.title {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s; }

h1 {
  margin-top: 10px; }

h4 {
  margin: 30px 0 5px 0; }

ul {
  margin-top: 5px; }

a {
  color: #07c; }
