<h4>search:</h4>
<ul>
    <li>a string indicating which images you want to search for</li>
</ul>

<h4>start:</h4>
<ul>
    <li>a number indicating which result number to start at</li>
</ul>

<h4>imgSize:</h4>
<ul>
    <li>"huge"</li>
    <li>"icon"</li>
    <li>"large"</li>
    <li>"medium"</li>
    <li>"small"</li>
    <li>"xlarge"</li>
    <li>"xxlarge"</li>
</ul>

<h4>dateRestrict: where d is days, w is weeks, m is months, y is years, and num is number of (days|weeks|months|years) ago</h4>
<ul>
    <li>d[num]</li>
    <li>w[num]</li>
    <li>m[num]</li>
    <li>y[num]</li>
</ul>

<h4>imgColorType:</h4>
<ul>
    <li>"color"</li>
    <li>"gray"</li>
    <li>"mono"</li>
</ul>

<h4>imgDominantColor:</h4>
<ul>
    <li>"black"</li>
    <li>"blue"</li>
    <li>"brown"</li>
    <li>"gray"</li>
    <li>"green"</li>
    <li>"pink"</li>
    <li>"purple"</li>
    <li>"teal"</li>
    <li>"white"</li>
    <li>"yellow"</li>
</ul>

<h4>imgType:</h4>
<ul>
    <li>"clipart":</li>
    <li>"face"</li>
    <li>"lineart"</li>
    <li>"news"</li>
    <li>"photo"</li>
</ul>

<h4>safe:</h4>
<ul>
    <li>"high": Enables highest level of SafeSearch filtering.</li>
    <li>"medium": Enables moderate SafeSearch filtering.</li>
    <li>"off": Disables SafeSearch filtering. (default)</li>
</ul>
