.form {

    .input-field {
        margin-top: 0;
        padding-bottom: 1rem;
    }

    &-option-title {
        margin-bottom: 0;
    }

    &-radio-field.col {
        padding-bottom: 3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    .btn {
        background-color: #ddd;
        color: #444;
        margin: 3px;
        padding: 0 10px !important;

        &:before,
        &:after {
            display: none !important;
        }
    }

    &-radio:checked + .btn {
        background-color: #26a69a;
        color: #fff;
        box-shadow: none;
        top: calc(0.8rem + 2px);
    }
}


.form-imgDominantColor {

    .form-radio:checked + .btn {
        background-color: #ddd;
    }

    .form-radio:checked + .btn {
        &[for="black"] {background-color: black;}
        &[for="gray"] {background-color: gray;}
        &[for="white"] {
            background-color: white;
            color: black;
            box-shadow: 0 0 4px #bbb;
        }
        &[for="brown"] {background-color: #6d4c41;}
        &[for="blue"] {background-color: #1976d2;}
        &[for="green"] {background-color: #43a047;}
        &[for="teal"] {background-color: #009688;}
        &[for="yellow"] {background-color: #ffee58; color: black}
        &[for="pink"] {background-color: #f48fb1; color: black;}
        &[for="purple"] {background-color: #ab47bc;}
    }
}
