@import "_navbar.scss";
@import "_form.scss";
@import "_images.scss";

h3 {
    color: #ee6e73;
}

.summary {
    text-align: center;
    padding: 30px 0;

    .btn {
        margin: 5px;
    }
}

.url-container {
    margin: 25px 0;
}

.get-images {
    margin-right: 10px;
}

.reset {
    background-color: #ddd;
    color: #666;
}

footer.page-footer {
    padding-top: 0;

    a {
        color: #18ffff;
    }
}
