.brand-logo {
  margin-left: 10px; }

.form .input-field {
  margin-top: 0;
  padding-bottom: 1rem; }

.form-option-title {
  margin-bottom: 0; }

.form-radio-field.col {
  padding-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline; }

.form .btn {
  background-color: #ddd;
  color: #444;
  margin: 3px;
  padding: 0 10px !important; }
  .form .btn:before, .form .btn:after {
    display: none !important; }

.form-radio:checked + .btn {
  background-color: #26a69a;
  color: #fff;
  box-shadow: none;
  top: calc(0.8rem + 2px); }

.form-imgDominantColor .form-radio:checked + .btn {
  background-color: #ddd; }

.form-imgDominantColor .form-radio:checked + .btn[for="black"] {
  background-color: black; }

.form-imgDominantColor .form-radio:checked + .btn[for="gray"] {
  background-color: gray; }

.form-imgDominantColor .form-radio:checked + .btn[for="white"] {
  background-color: white;
  color: black;
  box-shadow: 0 0 4px #bbb; }

.form-imgDominantColor .form-radio:checked + .btn[for="brown"] {
  background-color: #6d4c41; }

.form-imgDominantColor .form-radio:checked + .btn[for="blue"] {
  background-color: #1976d2; }

.form-imgDominantColor .form-radio:checked + .btn[for="green"] {
  background-color: #43a047; }

.form-imgDominantColor .form-radio:checked + .btn[for="teal"] {
  background-color: #009688; }

.form-imgDominantColor .form-radio:checked + .btn[for="yellow"] {
  background-color: #ffee58;
  color: black; }

.form-imgDominantColor .form-radio:checked + .btn[for="pink"] {
  background-color: #f48fb1;
  color: black; }

.form-imgDominantColor .form-radio:checked + .btn[for="purple"] {
  background-color: #ab47bc; }

.images-container {
  column-count: 2;
  column-gap: 1em;
  padding-bottom: 20px; }
  @media all and (min-width: 480px) {
    .images-container {
      column-count: 4; } }
  .images-container .image {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 5px 5px 0;
    border: 3px solid #eee;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 #555;
    transition: all .2s; }
    .images-container .image:hover, .images-container .image:focus {
      box-shadow: 0 3px 10px 1px #333; }

h3 {
  color: #ee6e73; }

.summary {
  text-align: center;
  padding: 30px 0; }
  .summary .btn {
    margin: 5px; }

.url-container {
  margin: 25px 0; }

.get-images {
  margin-right: 10px; }

.reset {
  background-color: #ddd;
  color: #666; }

footer.page-footer {
  padding-top: 0; }
  footer.page-footer a {
    color: #18ffff; }
