<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>

    <% include ../partials/navbar %>

    <div class="container">
        <div class="summary">
            <p>A Basejump project from <a target="_blank" rel="noopener" href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer">Free Code Camp</a>. Created by <a target="blank" rel="noopener" href="https://brentoncozby.com">Brenton Cozby</a>.</p>
            <a class="btn waves-effect waves-light" target="_blank" rel="noopener" href="https://github.com/BrentonCozby/image-search-fcc-cozby">View the code</a>
            <a class="btn waves-effect waves-light" href="/free-code-camp/image-search/api/history">History</a>
        </div>
        <h3>Build a URL</h3>
        <p class="url-container"><a class="api-url" id="api-url" target="_blank" rel="noopener" href=""></a></p>
        <a class="get-images btn waves-effect waves-light" id="get-images">get images</a>
        <a class="reset btn waves-effect waves-light" id="reset">reset</a>
        <br>
        <br>
        <br>
        <% include ../partials/form.ejs %>
    </div>

    <% include ../partials/footer.ejs %>

    <div id="images-modal" class="modal">
        <div class="modal-content">
            <h4 id="modal-header"></h4>
            <div class="images-container" id="images-container"></div>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/free-code-camp/image-search/js/bundle.js"></script>
</body>

</html>
